<!DOCTYPE html>
<html>
  <head>
    <title>lets start!!!</title>
  </head>

  <body>
    <h1>
      <form action="/madlibs">
        <input type="text" name="person" />
        <label>Enter a person name:</label><br />
        <input type="text" name="color" />
        <label>Enter a color:</label><br />
        <input type="text" name="noun" />
        <label>Enter a noun:</label><br />
        <input type="text" name="adjective" />
        <label>Enter an adjective:</label><br />
        <input type="submit" value="submit" />
      </form>
    </h1>
  </body>
</html>
